#infodiv{
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#infodiv *{
    margin-bottom: 5vh;
    margin-top: 3vh;
    margin-left: 1vh;
    dissplay: flex;
    flex-wrap: wrap;
}

@media(max-width: 450px){
    #infodiv *{
        font-size: 2vh;
        margin-bottom: 3vh;
    }
}
